* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    transition: 0.3s;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width:768px) {
    .container {
        width: 750px;
    }
}

@media(min-width:992px) {
    .container {
        width: 970px;
    }
}

@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* star-header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header .logo {
    position: relative;
    color: rgb(243, 239, 239);
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 60px;
}

header .logo span {
    position: relative;
    margin-left: -20px;
    animation-name: b;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

header .logo span:nth-child(1) {
    animation-delay: 0s;
}

header .logo span:nth-child(2) {
    animation-delay: 0.4s;
}

header .logo span:nth-child(3) {
    animation-delay: .8s;
}

header .logo span:nth-child(4) {
    animation-delay: 1.2s;
}

header .logo span:nth-child(5) {
    animation-delay: 1.6s;
}

header .logo span:nth-child(6) {
    animation-delay: 2s;
}

header .logo span:nth-child(7) {
    animation-delay: 2.4s;
}

@keyframes b {
    0% {}

    50% {
        color: #00001c;
    }

    100% {}
}

header .navagation {
    flex: 1;
    font-size: 1.1em;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

header .navagation a {
    color: white;
    transition: .5s;
}

header .navagation a:hover {
    color: #3a6cf4;
}

.manu i {
    color: white;
    font-size: 30px;
    display: flex;
    margin-top: 5px;
    cursor: pointer;
    transition: .5s;
    margin-right: 20px;
    display: none;
}

.manu {
    position: relative;
}

@media(max-width:720px) {
    .manu i {
        display: flex;
    }

    .manu nav {
        display: none;
    }

    header .logo {
        margin-left: 20px;
    }

    .manu:hover .navagation {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        top: 5px;
        right: 20px;
        gap: 15px;
        padding-right: 50px;
        padding-top: 30px;
    }
}

/* end-header */
/* start-section */
.main {
    margin-top: -70px;
    padding: 160px 157px;
    z-index: -1;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(../myimage1.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: -18px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
    margin-left: -5px;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: -20px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: #3a6cf4;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 10px 30px;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    width: fit-content;
}

.main-btn:hover {
    background-color: #0a49f6;
}

.soical-icon a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
    margin-top: -18px;
    display: inline-block;
    transition: 0.3s;
    margin-left: 10px;

}

.soical-icon a:hover {
    color: #0a49f6;
}

@media(max-width:720px) {
    .main {
        padding: 160px 30px;
    }

    .main h2 {
        font-size: 1.2em;
    }

    .main h2 span {
        font-size: 2.3em;
    }

    .main h3 {
        font-size: 1.5em;
    }

    .soical-icon a {
        margin-left: 0px;
    }
}

/* end-section */
/* start-skill */
.skills {
    width: 100%;
    height: 100vh;
}

.title {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    padding: 10px 50px;
    border: 2px solid #3a6cf4;
    position: relative;
    cursor: pointer;
}

.title::before,
.title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #0a49f6;
    position: absolute;
    border-radius: 50%;

}

.title::before {
    left: -30px;
}

.title::after {
    right: -30px;
}

.title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.title:hover {
    z-index: 10;
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 51%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

.cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 5px;
    margin: 15px;
    transition: 0.7s ease;
    text-align: center;
    cursor: pointer;
    width: 19.25em;
}

.card:hover {
    transform: scale(1.1);
}

.card h2 {
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

/* end-skill */
/* start-progects */
.projects {
    width: 100%;
    background-color: #ececec;
    margin-top: -0px;
    padding-top: 20px;
    padding-bottom: 50px;
    transition: 3s;
}

.c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.c .content {
    background-color: #fff;
    min-height: 320px;
    width: 320px;
    padding: 0px 20px;
    padding-top: 20px;
}

.project-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 2s;
    overflow: hidden;
    position: relative;
    cursor: pointer;

}

.project-image img {
    overflow: hidden;
    width: 300px;
    height: 220px;
    transition: 0.7s;
}

.project-card h3 {
    font-size: 22px;
    color: #3a6cf4;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.project-card p {
    font-size: 14px;
    color: #4e9eff;
    margin: 0px 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0px;
}


.project-card:hover img {
    transform: rotate(5deg) scale(1.1);
}

.project-card {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.project-card::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(169, 163, 163, 0.2);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2000;
}

.project-card:hover::before {
    animation: flashing 1s;
}

/* end-progects */
.contact {
    margin-top: -150px;
    margin-bottom: 100px;
}

@media (max-width:730px) {
    .contact {
        margin-top: 300px;
        margin-bottom: 100px;
    }

    .contact h2 {
        padding: 10px;
        font-size: 24px;
    }
}

.contact {
    background-color: #ececec;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-bottom: -10px;
}

.con {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;


}

.con .card {
    padding: 30px;
}

.more-details:hover {
    color: #601cfc;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}

.icon {
    font-size: 80px;
    color: #3a6cf4;
}

.footer {
    background-color: #000016;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #3a6cf4;
}

.footer .social-icons a {
    font-size: 1.3em;
    padding: 0 30px 0 0;
    color: #fff;
    transition: .3s;
}

.footer .social-icons a:hover {
    color: #3a6cf4;
}

.spikes {
    position: relative;
}

.spikes::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, #fff 25%, transparent 25%),
        linear-gradient(225deg, #fff 25%, transparent 25%);
    background-size: 30px 30px;
}

.s {
    position: relative;
}

.s::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, #ececec 25%, transparent 25%),
        linear-gradient(225deg, #ececec 25%, transparent 25%);
    background-size: 30px 30px;
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}